* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #eee;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	background-image: url('bg.jpg');
	background-position: center;
	background-size: cover;
}

.container {
	border: 3px solid crimson;
	box-shadow: 4px 6px 50px 20px #000;
	overflow: hidden;
	width: 30rem;
}

.title {
	margin: 0;
}

.subtitle {
	display: inline-block;
	margin: .5rem 0 1rem;
    color: #eee;
    font-size: 1rem;
}

.header {
	background-color: crimson;
	color: #fff;
	padding: 2rem 1rem;
	font-size: 1.25rem;
}

.header input {
	background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3rem;
	border: 1px solid #ddd;
    outline: none;
	color: #fff;
	font-family: 'Muli', sans-serif;
	font-size: 1rem;
	padding: .5rem 1rem;
	width: 100%;
}
    .header input::placeholder {
        color: #ccc;
    }

.heroes-list {
	background-color: #222;
	list-style-type: none;
	margin: 0;
	max-height: 55vh;
	overflow-y: auto;
	padding: 0;
}

.heroes-list li {
	display: flex;
	padding: 1rem;
}

.heroes-list li:not(:last-of-type) {
	border-bottom: 1px solid #777;
}

.heroes-list li.hide {
	display: none;
}

.hero {
	text-align: center;
	width: 100%;
}

.hero p {
	font-size: 14px;
	color: #ddd;
	margin-top: .5rem;
}

/* Scroll bars styling */
/* width */
::-webkit-scrollbar {
    width: 6px;
    background: #333;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: crimson; 
}

@media only screen and (max-width: 1024px) {
	html {
		font-size: 14px;
	}	
}
@media only screen and (max-width: 768px) {
	html {
		font-size: 12px;
	}
}